<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>结伴</title>
    <meta name="renderer" content="webkit" />

    <script type="text/javascript">
        window.Env = {"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","W_HTTP":"http:\/\/w.mafengwo.cn","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"http:\/\/pagelet.mafengwo.cn","JS_HOST":"js.mafengwo.net","TONGJI_HOST":"tongji.mafengwo.cn","UID":63008954,"CSTK":"2b61500a9cfff8821b0182961d7ef82b_de98f87c8ebd2f44da99f3a7810d101c","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ","MOBILE_BINDED":true};
    </script>


    <link href="http://css.mafengwo.net/css/cv/css+together+together_v2:css+jquery-ui-1.8.18.custom^Zlc^1542357412.css" rel="stylesheet" type="text/css"/>
    <link href="https://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+mfw-header.2015^YlVS^1559526017.css" rel="stylesheet" type="text/css"/>

    <link th:href="@{/asserts/css/jquery-ui.css}">

    <script th:src="@{/asserts/js/together/jquery.js}"></script>
    <script th:src="@{/asserts/js/together/jquery-ui.js}"></script>
    <script th:src="@{/asserts/js/together.js}"></script>
    <link rel="stylesheet" th:href="@{/asserts/css/tools/jquery.pagination.css}" />
    <link rel="stylesheet" th:href="@{/asserts/css/style.css}" />
    <script th:src="@{/asserts/js/tools/jquery.pagination.min.js}"></script>
</head>
<body>
<div id="header" th:replace="~{homepage :: navbar}"></div>

<input id="_j_all_together_num" type="hidden" data-num="2900"/>
<div class="container _j_total" data-total="1000">
    <div class="index-hd">
        <div class="wrapper">
            <div class="info">
                <!--<div class="num">我们共有<span>405339</span>个计划</div>-->
                <!--<div class="total"><span>637770</span>人关注·<span>1351897</span>人报名</div>-->
                <a class="btn" href="/together/publish/" th:href="@{/together/publish}">发布我的结伴计划</a>
            </div>
            <!--<div class="guide">-->
                <!--<div class="qrcode">-->
                    <!--<img src="https://images.mafengwo.net/images/together/activity_city_qrcode_v2.png">-->
                <!--</div>-->
                <!--<p class="color">马蜂窝APP-我的-左上角<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAHlBMVEVHcEz/nQD/nQD/mQD/ngD/nQD/nQD/nAD/ngD/nQCf8i/JAAAACXRSTlMAf1sPZvaFv90fLhnmAAAAZklEQVQoz2NgdhQUFGIAA0VBQREDBouZQKAA4jOBWM0MnqgCUxgkpyNrqZzIIDmRAQlIkiWgOQlZAMhjUkAWQOVRE6TOhIOpCSCBSITAzACsKigHGJ7D8D41whQjojCiEiOy0ZMDAHGYQTGRhsrsAAAAAElFTkSuQmCC"></p>-->
                <!--<p>手机发结伴/活动 会被更多人看到哟</p>-->
            <!--</div>-->
        </div>
    </div>
    <div class="row">
        <div class="wrapper mod-popular">
            <h3 class="mod-title">结伴热门目的地</h3>
            <div class="bd">
                <ul id="together-mdd-box" class="clearfix">
                </ul>
            </div>
        </div>
    </div>


    <div class="filter-bar _j_filter" style="top: 46px;">
        <div class="wrapper clearfix">
            <div class="flr-place">
                <div class="ui-input _j_go_mdd_list">
                    <input type="text" id="_j_together_mdd_search" class="_j_mdd_input" placeholder="目的地">
                </div>
                <div id="drop-place" class="drop drop-place _j_mdd_list" style="display: none;">
                    <ul class="col1">
                    </ul>
                    <ul class="col2">
                    </ul>
                </div>
            </div>
            <div class="sort _j_sort_list">
                <a class="on" data-flag="3">热门结伴<i></i></a>
                <a data-flag="2">最新发表<i></i></a>
                <a data-flag="1">即将出发<i></i></a>
            </div>
            <a href="/together/publish/" class="btn-add" th:href="@{/together/publish}"><i></i>发布我的结伴计划</a>
        </div>
    </div>
    <div class="row-bg">
        <div class="wrapper mod-list">
            <div class="not-found hide _j_not_found"><strong>没有符合条件的结伴计划</strong><br>改改搜索条件试试~</div>
            <div class="bd together-list">
                <ul class="clearfix _j_together_list">
                </ul>
            </div>
            <div class="post_pagin" id="smallpager">
                <div id="pagination" class="page f1" style="text-align: center;">
                </div>
            </div>
        </div>
    </div>
</div>





</div>
</body>
</html>
