<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/asserts/css/jquery-ui.css}">

    <script th:src="@{/asserts/js/together/jquery.js}"></script>

    <script th:src="@{/asserts/js/together/jquery-ui.js}"></script>

    <script th:src="@{/asserts/js/together/publish.js}"></script>
</head>
<body>
<input id="_j_go_mdd" name="key_word" type="text">
<input  id="go_mdd_id" type="text">
</body>
</html>