<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${name}"></title>


    <link rel="stylesheet" th:href="@{/asserts/css/tools/jquery.pagination.css}" />
    <link th:href="@{/asserts/css/poi/city.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/asserts/css/navbar.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/asserts/js/common/jquery.js}"></script>
    <script th:src="@{/asserts/js/tools/jquery.pagination.min.js}"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=DmvaTbVhDI5FzcLmG8zcZQdPllicdMXQ"></script>
    <script th:inline="javascript">
        var map1 = null;
        var map2 = null;
        var results = [[${routes}]];

        var mdd = [[${id}]];

    </script>
    <script th:src="@{/asserts/js/poi/city.js}"></script>
</head>

<body>

<div id="header" th:replace="~{homepage :: navbar}"></div>

<div class="container">
    <div class="row row-placeTop row-bg">
        <div class="wrapper">
            <link href="https://css.mafengwo.net/css/cv/css+mdd+place-crumb:css+mdd+place-navbar^Z1U^1559788120.css"
                  rel="stylesheet" type="text/css">


            <link href="https://css.mafengwo.net/css/mdd/place-crumb.css?1530619858" rel="stylesheet"
                  type="text/css">




            <div class="crumb">

                <div class="item"><a href="/mdd" th:href="@{/mdd}" target="_self">目的地</a><em>&gt;</em></div>

                <div class="item">
                    <span class="hd"><a th:href="@{'/c/' + ${id}}" th:text="${name}" target="_blank">湖北</a></span>
                </div>
            </div>

            <div class="title" style="position: relative;">
                <h1 th:text="${name}">武汉</h1>


            </div>


        </div>
    </div>


    <div id="pagelet-block-66164af70718e77135e4277fb5190e91" class="pagelet-block"
         data-api=":mdd:pagelet:routesSummaryApi" data-params="{&quot;iMddid&quot;:&quot;10035&quot;}"
         data-controller="">
        <div class="row row-line">
            <div class="wrapper">
                <div class="r-title">
                    <h2 class="r-title" th:text="${name + '热门线路'}" style="text-align: left">成都热门线路</h2>
                </div>
                <hhh th:each="route,routeStatus:${routes}">
                <div class="line-cards" th:style="${routeStatus.index eq 1?'margin-right:0':''}">
                    <h3><a th:href="@{'/s/' + ${route.rid}}" target="_blank">
                        <span th:text="${routeStatus.index + 1}" class="num">1</span><span th:text="${route.name}">成都周边5日经典线路</span></a></h3>


                    <div class="map" th:id="${routeStatus.index eq 0?'leftmap':'rightmap'}"  style="width:488px;height:200px;border:#ccc solid 1px;"></div>
                    <script th:if="${routeStatus.index eq 0}">
                        map1 = new BMap.Map("leftmap"); // 百度地图API功能
                        map1.centerAndZoom(new BMap.Point(116.417854, 39.921988), 15);// 设置地图显示的城市和地图级别
                        map1.enableScrollWheelZoom(); // 启用滚轮放大缩小，默认禁用
                        map1.enableContinuousZoom(); // 启用地图惯性拖拽，默认禁用
                        map1.addControl(new BMap.ScaleControl()); // 添加比例尺控件
                    </script>
                    <script th:if="${routeStatus.index eq 1}">
                        map2 = new BMap.Map("rightmap"); // 百度地图API功能
                        map2.centerAndZoom(new BMap.Point(116.417854, 39.921988), 15);// 设置地图显示的城市和地图级别
                        map2.enableScrollWheelZoom(); // 启用滚轮放大缩小，默认禁用
                        map2.enableContinuousZoom(); // 启用地图惯性拖拽，默认禁用
                        map2.addControl(new BMap.ScaleControl()); // 添加比例尺控件
                    </script>

                    <dl class="info">
                        <dt></dt>
                        <dd>
                            <a th:href="@{'/s/'+${route.rid}}" target="_blank"
                               style="color: #333;text-decoration: none">
                                <hhh th:each="r,rStatus:${route.routes}">
                                    <span th:if="${rStatus.index ne 0}" class="arrow">→</span>
                                    <span th:text="${r.name}">黄龙溪</span>
                                </hhh>
                            </a>
                            <a data-t="查看路线" class="btn-view" th:href="@{'/s/'+${route.rid}}"
                               target="_blank">查看&gt;</a>
                        </dd>
                    </dl>
                </div>
                </hhh>

                <div class="line-all">

                </div>
            </div>
        </div>
        <script type="text/javascript">
            var mddmap = {
                'zoom': 6,
                'lat': 30.653610388001,
                'lng': 103.93335223774
            };
        </script>


    </div>

</div>

<!-- 游记板块 -->
<div class="zy-container">
    <div class="zy-wrapper">
        <div class="zy-travelnotes" style="margin: 15px;">
            <h1 th:text="${name + '游记'}">成都游记</h1>
            <!-- 游记navbar s-->
            <div class="navbar clearfix">
                <ul class="tn-nav" id="_j_tn_nav">

                    <li class="active _j_gs_tab tn-nav-hot">
                        <a data-type="2" data-objid="0">热门游记</a>
                    </li>
                    <li class="_j_gs_tab tn-nav-new">
                        <a data-type="1">最新发表</a>
                    </li>
                </ul>


            </div>
            <!-- 游记navbar e-->

            <!-- 内容本体 s-->
            <div class="pagelet-block __web-inspector-hide-shortcut__" data-api=":note:pagelet:recommendNoteApi"
                 data-params="{&quot;type&quot;:&quot;0&quot;}" data-async="1"
                 data-controller="/js/index/ControllerRecommend">
                <div id="_j_tn_content">
                    <div class="tn-list">
                        <!--TODO-->
                    </div>
                    <div align="right" class="m-pagination" id="_j_tn_pagination" data-type="0" data-objid="0">
                        <div id="pagination" class="page f1" style="text-align: center;"></div>
                    </div>
                </div>
            </div>
            <!-- 内容本体 e -->
        </div>


    </div>

</div>
</body>

</html>