<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/asserts/css/poi/city.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/asserts/css/navbar.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/asserts/js/common/jquery.js}"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=DmvaTbVhDI5FzcLmG8zcZQdPllicdMXQ"></script>
    <script th:inline="javascript">
        var map1 = null;
        var map2 = null;
        var results = [[${routes}]];
    </script>
    <script th:src="@{/asserts/js/poi/city.js}"></script>
</head>

<body>
<div class="container">
    <div class="row row-placeTop row-bg">
        <div class="wrapper">
            <link href="https://css.mafengwo.net/css/cv/css+mdd+place-crumb:css+mdd+place-navbar^Z1U^1559788120.css"
                  rel="stylesheet" type="text/css">


            <link href="https://css.mafengwo.net/css/mdd/place-crumb.css?1530619858" rel="stylesheet"
                  type="text/css">




            <div class="crumb">

                <div class="item"><a href="/mdd" target="_blank">目的地</a><em>&gt;</em></div>

                <div class="item">
                    <span class="hd"><a th:href="@{'/c/' + ${id}}" th:text="${name}" target="_blank">湖北</a></span>
                </div>
            </div>

            <div class="title" style="position: relative;">
                <h1 th:text="${name}">武汉</h1>


            </div>


        </div>
    </div>


    <div id="pagelet-block-66164af70718e77135e4277fb5190e91" class="pagelet-block"
         data-api=":mdd:pagelet:routesSummaryApi" data-params="{&quot;iMddid&quot;:&quot;10035&quot;}"
         data-controller="">
        <div class="row row-line">
            <div class="wrapper">
                <div class="r-title">
                    <h2 class="r-title" th:text="${name + '热门线路'}" style="text-align: left">成都热门线路</h2>
                </div>
                <hhh th:each="route,routeStatus:${routes}">
                <div class="line-cards" th:style="${routeStatus.index eq 1?'margin-right:0':''}">
                    <h3><a th:href="@{'/s/' + ${route.rid}}" target="_blank">
                        <span th:text="${routeStatus.index + 1}" class="num">1</span><span th:text="${route.name}">成都周边5日经典线路</span></a></h3>


                    <div class="map" th:id="${routeStatus.index eq 0?'leftmap':'rightmap'}"  style="width:488px;height:200px;border:#ccc solid 1px;"></div>
                    <script th:if="${routeStatus.index eq 0}">
                        map1 = new BMap.Map("leftmap"); // 百度地图API功能
                        map1.centerAndZoom(new BMap.Point(116.417854, 39.921988), 15);// 设置地图显示的城市和地图级别
                        map1.enableScrollWheelZoom(); // 启用滚轮放大缩小，默认禁用
                        map1.enableContinuousZoom(); // 启用地图惯性拖拽，默认禁用
                        map1.addControl(new BMap.ScaleControl()); // 添加比例尺控件
                    </script>
                    <script th:if="${routeStatus.index eq 1}">
                        map2 = new BMap.Map("rightmap"); // 百度地图API功能
                        map2.centerAndZoom(new BMap.Point(116.417854, 39.921988), 15);// 设置地图显示的城市和地图级别
                        map2.enableScrollWheelZoom(); // 启用滚轮放大缩小，默认禁用
                        map2.enableContinuousZoom(); // 启用地图惯性拖拽，默认禁用
                        map2.addControl(new BMap.ScaleControl()); // 添加比例尺控件
                    </script>

                    <dl class="info">
                        <dt></dt>
                        <dd>
                            <a th:href="@{'/s/'+${rid}}" target="_blank"
                               style="color: #333;text-decoration: none">
                                <hhh th:each="r,rStatus:${route.routes}">
                                    <span th:if="${rStatus.index ne 0}" class="arrow">→</span>
                                    <span th:text="${r.name}">黄龙溪</span>
                                </hhh>
                            </a>
                            <a data-t="查看路线" class="btn-view" th:href="@{'/s/'+${rid}}"
                               target="_blank">查看&gt;</a>
                        </dd>
                    </dl>
                </div>
                </hhh>

                <div class="line-all">

                </div>
            </div>
        </div>
        <script type="text/javascript">
            var mddmap = {
                'zoom': 6,
                'lat': 30.653610388001,
                'lng': 103.93335223774
            };
        </script>


    </div>

</div>

<!-- 游记板块 -->
<div class="zy-container">
    <div class="zy-wrapper">
        <div class="zy-travelnotes" style="margin: 15px;">
            <h1 th:text="${name + '游记'}">成都游记</h1>
            <!-- 游记navbar s-->
            <div class="navbar clearfix">
                <ul class="tn-nav" id="_j_tn_nav">

                    <li class="active _j_gs_tab tn-nav-hot">
                        <a href="" rel="nofollow" data-type="0" data-objid="0">热门游记</a>
                    </li>
                    <li class="_j_gs_tab tn-nav-new">
                        <a href="" rel="nofollow" data-type="7">最新发表</a>
                    </li>
                </ul>


            </div>
            <!-- 游记navbar e-->

            <!-- 内容本体 s-->
            <div class="pagelet-block __web-inspector-hide-shortcut__" data-api=":note:pagelet:recommendNoteApi"
                 data-params="{&quot;type&quot;:&quot;0&quot;}" data-async="1"
                 data-controller="/js/index/ControllerRecommend">
                <div id="_j_tn_content">
                    <div class="tn-list">
                        <div class="tn-item clearfix">
                            <div class="tn-image">
                                <a href="/i/14860155.html" target="_blank">
                                    <img class=""
                                         data-src="https://n4-q.mafengwo.net/s14/M00/47/30/wKgE2l0jMZ2ALznkAAZ9z6-V9Wg618.jpg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                         data-rt-src="https://n4-q.mafengwo.net/s14/M00/47/30/wKgE2l0jMZ2ALznkAAZ9z6-V9Wg618.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         src="https://n4-q.mafengwo.net/s14/M00/47/30/wKgE2l0jMZ2ALznkAAZ9z6-V9Wg618.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         style="display: inline;">


                                </a>
                            </div>
                            <div class="tn-wrapper">
                                <dl>
                                    <dt>
                                        <a href="/i/14860155.html" target="_blank">【寻鲜记】原来你是这样的宁波</a>
                                    </dt>
                                    <dd>
                                        <a href="/i/14860155.html" target="_blank"> 【前言】
                                            今年的五一对很多人来说有点不一样，那就是放！四！天！假！与小伙伴一合计，以迅雷不及掩耳盗铃之势拍板决定:去 宁波 ~~~现在想想，为啥会选择
                                            宁波 呢？因为书藏古今，港通天下...</a>
                                    </dd>
                                </dl>
                                <div class="tn-extra">
                                        <span class="tn-ding">
                                            <a class="btn-ding" href="javascript:;" data-japp="articleding"
                                               data-iid="14860155" data-vote="163" rel="nofollow"></a>
                                            <em id="topvote14860155">163</em>
                                        </span>
                                    <span class="tn-place"><i></i><a href="javascript:void(0);" class="_j_gs_item"
                                                                     rel="nofollow" data-name="宁波" data-objid="10129"
                                                                     data-type="2">宁波</a>，by</span>
                                    <span class="tn-user">
                                            <a href="/u/805633.html" target="_blank" rel="nofollow">
                                                <img
                                                        src="https://p4-q.mafengwo.net/s11/M00/90/1D/wKgBEFqMYpiAVu52AABgBKcl2X828.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                                多多熊
                                            </a>
                                        </span>
                                    <span class="tn-nums"><i></i>3226/29</span>
                                </div>
                            </div>
                        </div>
                        <div class="tn-item clearfix">
                            <div class="tn-image">
                                <a href="/i/14466424.html" target="_blank">
                                    <img class=""
                                         data-src="https://n1-q.mafengwo.net/s14/M00/0D/48/wKgE2l0aFq2AVwitAA3w-fgzRWQ001.jpg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                         data-rt-src="https://n1-q.mafengwo.net/s14/M00/0D/48/wKgE2l0aFq2AVwitAA3w-fgzRWQ001.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         src="https://n1-q.mafengwo.net/s14/M00/0D/48/wKgE2l0aFq2AVwitAA3w-fgzRWQ001.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         style="display: inline;">


                                </a>
                            </div>
                            <div class="tn-wrapper">
                                <dl>
                                    <dt>
                                        <a href="/i/14466424.html" target="_blank">两天一夜游临海，台州府城的古韵风情</a>
                                    </dt>
                                    <dd>
                                        <a href="/i/14466424.html" target="_blank"> 序 说起 台州 ，一座位于 浙江 省中部的沿 海城 市，比邻
                                            宁波 、 温州 、 绍兴 ，然而知道的人并不多， 台州 源自境内 天台 山而得此名，下辖三区、三县级市、三县，从古至今 台州
                                            经历了...</a>
                                    </dd>
                                </dl>
                                <div class="tn-extra">
                                        <span class="tn-ding">
                                            <a class="btn-ding" href="javascript:;" data-japp="articleding"
                                               data-iid="14466424" data-vote="229" rel="nofollow"></a>
                                            <em id="topvote14466424">229</em>
                                        </span>
                                    <span class="tn-place"><i></i><a href="javascript:void(0);" class="_j_gs_item"
                                                                     rel="nofollow" data-name="临海" data-objid="11626"
                                                                     data-type="2">临海</a>，by</span>
                                    <span class="tn-user">
                                            <a href="/u/69464082.html" target="_blank" rel="nofollow">
                                                <img
                                                        src="https://b1-q.mafengwo.net/s12/M00/A5/63/wKgED1xAKIOALrTjAAATxG_PzUI68.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                                熊猫慢游 TAT
                                            </a>
                                        </span>
                                    <span class="tn-nums"><i></i>4882/103</span>
                                </div>
                            </div>
                        </div>
                        <div class="tn-item clearfix">
                            <div class="tn-image">
                                <a href="/i/12408514.html" target="_blank">
                                    <img class=""
                                         data-src="https://n1-q.mafengwo.net/s4/M00/8E/1A/wKgIDlxTHkSATDEvAAwoW84k0U040.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                         data-rt-src="https://n1-q.mafengwo.net/s4/M00/8E/1A/wKgIDlxTHkSATDEvAAwoW84k0U040.jpeg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         src="https://n1-q.mafengwo.net/s4/M00/8E/1A/wKgIDlxTHkSATDEvAAwoW84k0U040.jpeg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         style="display: inline;">


                                </a>
                            </div>
                            <div class="tn-wrapper">
                                <dl>
                                    <dt>

                                        <a href="/i/12408514.html" target="_blank">旅居台北500天・吃货少女的台北美食指南【93店 |
                                            第173天】</a>
                                    </dt>
                                    <dd>
                                        <a href="/i/12408514.html" target="_blank">最新更新：2019.7.12 第173天 每当有朋友问我“ 台北
                                            玩多少天合适？”，我都会回答“看你想吃多少顿咯”。 机缘巧合，得以在 台北 工作一年半。这趟旅居最令人心动的莫过于 台北
                                            大街小巷的...</a>
                                    </dd>
                                </dl>
                                <div class="tn-extra">
                                        <span class="tn-ding">
                                            <a class="btn-ding" href="javascript:;" data-japp="articleding"
                                               data-iid="12408514" data-vote="981" rel="nofollow"></a>
                                            <em id="topvote12408514">981</em>
                                        </span>
                                    <span class="tn-place"><i></i><a href="javascript:void(0);" class="_j_gs_item"
                                                                     rel="nofollow" data-name="台北" data-objid="10819"
                                                                     data-type="2">台北</a>，by</span>
                                    <span class="tn-user">
                                            <a href="/u/94296628.html" target="_blank" rel="nofollow">
                                                <img
                                                        src="https://p2-q.mafengwo.net/s11/M00/EE/B6/wKgBEFtXajSAKsTCAADBUxS6pSs92.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                                Hiyori
                                            </a>
                                        </span>
                                    <span class="tn-nums"><i></i>9434/71</span>
                                </div>
                            </div>
                        </div>
                        <div class="tn-item clearfix">
                            <div class="tn-image">
                                <a href="/i/13985700.html" target="_blank">
                                    <img class=""
                                         data-src="https://p3-q.mafengwo.net/s14/M00/CF/9F/wKgE2l0PNxeAPf_WAAZnPDS-Kpk224.jpg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                         data-rt-src="https://p3-q.mafengwo.net/s14/M00/CF/9F/wKgE2l0PNxeAPf_WAAZnPDS-Kpk224.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         src="https://p3-q.mafengwo.net/s14/M00/CF/9F/wKgE2l0PNxeAPf_WAAZnPDS-Kpk224.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         style="display: inline;">


                                </a>
                            </div>
                            <div class="tn-wrapper">
                                <dl>
                                    <dt>
                                        <a href="/i/13985700.html" target="_blank">行走在世界的尽头-Iceland</a>
                                    </dt>
                                    <dd>
                                        <a href="/i/13985700.html" target="_blank"> 关于本篇游记
                                            我是一名热爱旅行及摄影的90后，日常工作是一名工程师，但同时也怀有一颗喜欢挑战、热爱探险的内心。 为什么选择 冰岛 ？很简单， 冰岛
                                            拥有绚烂的极光，以及绝美的瀑布、冰川...</a>
                                    </dd>
                                </dl>
                                <div class="tn-extra">
                                        <span class="tn-ding">
                                            <a class="btn-ding" href="javascript:;" data-japp="articleding"
                                               data-iid="13985700" data-vote="213" rel="nofollow"></a>
                                            <em id="topvote13985700">213</em>
                                        </span>
                                    <span class="tn-place"><i></i><a href="javascript:void(0);" class="_j_gs_item"
                                                                     rel="nofollow" data-name="冰岛" data-objid="10549"
                                                                     data-type="2">冰岛</a>，by</span>
                                    <span class="tn-user">
                                            <a href="/u/31596858.html" target="_blank" rel="nofollow">
                                                <img
                                                        src="https://p3-q.mafengwo.net/s11/M00/A1/91/wKgBEFta5hCAKx2lAAASmg-mf6A94.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                                Jeremy
                                            </a>
                                        </span>
                                    <span class="tn-nums"><i></i>3225/36</span>
                                </div>
                            </div>
                        </div>
                        <div class="tn-item clearfix">
                            <div class="tn-image">
                                <a href="/i/14339500.html" target="_blank">
                                    <img class=""
                                         data-src="https://p3-q.mafengwo.net/s14/M00/5B/17/wKgE2l0XZPmAQ_FnAAjQJz8umGc923.jpg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                         data-rt-src="https://p3-q.mafengwo.net/s14/M00/5B/17/wKgE2l0XZPmAQ_FnAAjQJz8umGc923.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         src="https://p3-q.mafengwo.net/s14/M00/5B/17/wKgE2l0XZPmAQ_FnAAjQJz8umGc923.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         style="display: inline;">


                                </a>
                            </div>
                            <div class="tn-wrapper">
                                <dl>
                                    <dt>
                                        <a href="/i/14339500.html" target="_blank">偶遇翡冷翠Fashion
                                            Week和Jazz音乐节,沉浸威尼斯双年展! 南法...</a>
                                    </dt>
                                    <dd>
                                        <a href="/i/14339500.html" target="_blank"> 欧洲
                                            文明的起源，穿越回4000年前的安纳托利亚--小亚细亚半岛开始。从 希腊 时代的 克里特 文明迈锡尼文明，到古风时代，到 亚历山大 时代，到
                                            罗马 时代。 “爱琴地区”以及它的分支延伸到...</a>
                                    </dd>
                                </dl>
                                <div class="tn-extra">
                                        <span class="tn-ding">
                                            <a class="btn-ding" href="javascript:;" data-japp="articleding"
                                               data-iid="14339500" data-vote="178" rel="nofollow"></a>
                                            <em id="topvote14339500">178</em>
                                        </span>
                                    <span class="tn-place"><i></i><a href="javascript:void(0);" class="_j_gs_item"
                                                                     rel="nofollow" data-name="意大利" data-objid="10051"
                                                                     data-type="2">意大利</a>，by</span>
                                    <span class="tn-user">
                                            <a href="/u/81875323.html" target="_blank" rel="nofollow">
                                                <img
                                                        src="https://p2-q.mafengwo.net/s12/M00/CA/62/wKgED1u9keqAaDWkABe7y9mvjDg43.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                                冬小楼
                                            </a>
                                        </span>
                                    <span class="tn-nums"><i></i>2503/91</span>
                                </div>
                            </div>
                        </div>

                        <div class="tn-item clearfix">
                            <div class="tn-image">
                                <a href="/i/14729376.html" target="_blank">
                                    <img class=""
                                         data-src="https://b1-q.mafengwo.net/s14/M00/4F/DD/wKgE2l0gzKOAL71uAAY47NZ2pJg895.jpg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                         data-rt-src="https://b1-q.mafengwo.net/s14/M00/4F/DD/wKgE2l0gzKOAL71uAAY47NZ2pJg895.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         src="https://b1-q.mafengwo.net/s14/M00/4F/DD/wKgE2l0gzKOAL71uAAY47NZ2pJg895.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         style="display: inline;">


                                </a>
                            </div>
                            <div class="tn-wrapper">
                                <dl>
                                    <dt>

                                    </dt>
                                    <dd>
                                        <a href="/i/14729376.html" target="_blank"> 序 | 抵达 凌晨的 特拉维夫
                                            机场除了灯光如昼，还有行李带传送的声音。 32岁了，还在睡机场呐。 “Hey！你们在这儿干什么？” 我们睁开眼睛，看见一名配枪的警察。
                                            “我们休息呢” “为什么...</a>
                                    </dd>
                                </dl>
                                <div class="tn-extra">
                                        <span class="tn-ding">
                                            <a class="btn-ding" href="javascript:;" data-japp="articleding"
                                               data-iid="14729376" data-vote="113" rel="nofollow"></a>
                                            <em id="topvote14729376">113</em>
                                        </span>
                                    <span class="tn-place"><i></i><a href="javascript:void(0);" class="_j_gs_item"
                                                                     rel="nofollow" data-name="以色列" data-objid="10605"
                                                                     data-type="2">以色列</a>，by</span>
                                    <span class="tn-user">
                                            <a href="/u/5333104.html" target="_blank" rel="nofollow">
                                                <img
                                                        src="https://b4-q.mafengwo.net/s8/M00/EB/84/wKgBpVXxnmKAUH4yAAC9SeCuNUo89.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                                迷鹿小姐
                                            </a>
                                        </span>
                                    <span class="tn-nums"><i></i>2617/68</span>
                                </div>
                            </div>
                        </div>
                        <div class="tn-item clearfix">
                            <div class="tn-image">
                                <a href="/i/14340598.html" target="_blank">
                                    <img class=""
                                         data-src="https://n2-q.mafengwo.net/s14/M00/06/9F/wKgE2l0WGl2AN0jGAAaRvnqxPpY462.jpg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                         data-rt-src="https://n2-q.mafengwo.net/s14/M00/06/9F/wKgE2l0WGl2AN0jGAAaRvnqxPpY462.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         src="https://n2-q.mafengwo.net/s14/M00/06/9F/wKgE2l0WGl2AN0jGAAaRvnqxPpY462.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         style="display: inline;">


                                </a>
                            </div>
                            <div class="tn-wrapper">
                                <dl>
                                    <dt>
                                        <a href="/i/14340598.html" target="_blank">「墨西哥十一杯」
                                            一杯山高水远，一杯来日方长（附轻婚纱旅拍...</a>
                                    </dt>
                                    <dd>
                                        <a href="/i/14340598.html" target="_blank">What's past is prologue.
                                            过往种种，皆为序章。 序 旅行归来的某天 “ 墨西哥 的游记你什么时候开始写？” “再等等吧，你照片不是都还没修呢么。” 一个月后 “ 墨西哥
                                            游记你还写的吗？”...</a>
                                    </dd>
                                </dl>
                                <div class="tn-extra">
                                        <span class="tn-ding">
                                            <a class="btn-ding" href="javascript:;" data-japp="articleding"
                                               data-iid="14340598" data-vote="233" rel="nofollow"></a>
                                            <em id="topvote14340598">233</em>
                                        </span>
                                    <span class="tn-place"><i></i><a href="javascript:void(0);" class="_j_gs_item"
                                                                     rel="nofollow" data-name="墨西哥" data-objid="11656"
                                                                     data-type="2">墨西哥</a>，by</span>
                                    <span class="tn-user">
                                            <a href="/u/49834878.html" target="_blank" rel="nofollow">
                                                <img
                                                        src="https://n1-q.mafengwo.net/s12/M00/EC/92/wKgED1wnLRSAAgpFAAD5g6VyLFI90.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                                花泡小螃蟹
                                            </a>
                                        </span>
                                    <span class="tn-nums"><i></i>2739/92</span>
                                </div>
                            </div>
                        </div>
                        <div class="tn-item clearfix">
                            <div class="tn-image">
                                <a href="/i/14188164.html" target="_blank">
                                    <img class=""
                                         data-src="https://p4-q.mafengwo.net/s14/M00/DC/79/wKgE2lz9FgyAaVC3ABVPDcBHx3c930.jpg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                         data-rt-src="https://p4-q.mafengwo.net/s14/M00/DC/79/wKgE2lz9FgyAaVC3ABVPDcBHx3c930.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         src="https://p4-q.mafengwo.net/s14/M00/DC/79/wKgE2lz9FgyAaVC3ABVPDcBHx3c930.jpg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         style="display: inline;">


                                </a>
                            </div>
                            <div class="tn-wrapper">
                                <dl>
                                    <dt>
                                        <a href="/i/14188164.html"
                                           target="_blank">【冬行漫记】消失在哈瓦那的旧时光里（哈瓦那2日+比尼亚莱斯...</a>
                                    </dt>
                                    <dd>
                                        <a href="/i/14188164.html" target="_blank"> 题记 时隔10个月，才终于有时间把 古巴 的照片拿出来整理编辑
                                            本以为时间流逝，那些埋藏在老 哈瓦那 的记忆早已成为零星的碎片让我拾都拾不起来 却未曾想，一切都在浏览照片之时，汇集成诗 ...</a>
                                    </dd>
                                </dl>
                                <div class="tn-extra">
                                        <span class="tn-ding">
                                            <a class="btn-ding" href="javascript:;" data-japp="articleding"
                                               data-iid="14188164" data-vote="2303" rel="nofollow"></a>
                                            <em id="topvote14188164">2303</em>
                                        </span>
                                    <span class="tn-place"><i></i><a href="javascript:void(0);" class="_j_gs_item"
                                                                     rel="nofollow" data-name="古巴" data-objid="11684"
                                                                     data-type="2">古巴</a>，by</span>
                                    <span class="tn-user">
                                            <a href="/u/17197790.html" target="_blank" rel="nofollow">
                                                <img
                                                        src="https://b4-q.mafengwo.net/s11/M00/15/0E/wKgBEFpWvpKAYNwLAAC4a0c0WHA24.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                                楚楚冬人
                                            </a>
                                        </span>
                                    <span class="tn-nums"><i></i>71643/512</span>
                                </div>
                            </div>
                        </div>
                        <div class="tn-item clearfix">
                            <div class="tn-image">
                                <a href="/i/13980996.html" target="_blank">
                                    <img class=""
                                         data-src="https://p4-q.mafengwo.net/s14/M00/E5/78/wKgE2l0KkIaAXtGMAAn2RVzU3g426.jpeg?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                         data-rt-src="https://p4-q.mafengwo.net/s14/M00/E5/78/wKgE2l0KkIaAXtGMAAn2RVzU3g426.jpeg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         src="https://p4-q.mafengwo.net/s14/M00/E5/78/wKgE2l0KkIaAXtGMAAn2RVzU3g426.jpeg?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         style="display: inline;">


                                </a>
                            </div>
                            <div class="tn-wrapper">
                                <dl>
                                    <dt>
                                        <a href="/i/13980996.html" target="_blank">再次邂逅那片迷人耀眼的蓝~ 马尔代夫卡佩迪恩7日游
                                            #送给宝贝...</a>
                                    </dt>
                                    <dd>
                                        <a href="/i/13980996.html" target="_blank"> 序…… 所谓旅行，是人生最华美的奢侈，也是人生最灿烂的自由……
                                            第一次来马代还是几年前的蜜月游，随着儿子的呱呱落地，一晃8年过去了…… 作为送给自己孩子步入小学前的特别礼物，再一次...</a>
                                    </dd>
                                </dl>
                                <div class="tn-extra">
                                        <span class="tn-ding">
                                            <a class="btn-ding" href="javascript:;" data-japp="articleding"
                                               data-iid="13980996" data-vote="203" rel="nofollow"></a>
                                            <em id="topvote13980996">203</em>
                                        </span>
                                    <span class="tn-place"><i></i><a href="javascript:void(0);" class="_j_gs_item"
                                                                     rel="nofollow" data-name="马尔代夫" data-objid="10101"
                                                                     data-type="2">马尔代夫</a>，by</span>
                                    <span class="tn-user">
                                            <a href="/u/61169128.html" target="_blank" rel="nofollow">
                                                <img
                                                        src="https://n2-q.mafengwo.net/s14/M00/A6/E7/wKgE2l0LDeWAJ0XJAAA3J_ccEmQ49.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                                袁余裘侯董
                                            </a>
                                        </span>
                                    <span class="tn-nums"><i></i>4847/42</span>
                                </div>
                            </div>
                        </div>

                        <div class="tn-item clearfix">
                            <div class="tn-image">
                                <a href="/i/14272228.html" target="_blank">
                                    <img class=""
                                         data-src="https://n4-q.mafengwo.net/s14/M00/5D/48/wKgE2l0V46qAB0sUAAanT71OdlE811.JPG?imageMogr2%2Fthumbnail%2F%21220x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21220x150%2Fquality%2F90"
                                         data-rt-src="https://n4-q.mafengwo.net/s14/M00/5D/48/wKgE2l0V46qAB0sUAAanT71OdlE811.JPG?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         src="https://n4-q.mafengwo.net/s14/M00/5D/48/wKgE2l0V46qAB0sUAAanT71OdlE811.JPG?imageMogr2%2Fthumbnail%2F%21440x300r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21440x300%2Fquality%2F90"
                                         style="display: inline;">


                                </a>
                            </div>
                            <div class="tn-wrapper">
                                <dl>
                                    <dt>
                                        <a href="/i/14272228.html" target="_blank">饿着来，扶墙走——毕生难忘的大马美食之旅</a>
                                    </dt>
                                    <dd>
                                        <a href="/i/14272228.html" target="_blank">时隔八年，再次回到 马来西亚
                                            。这是我第一个出国旅游的目的地，也正是那一次的跨越经历，点燃了环游世界的梦想，并持续对世界上瘾，幻想踏遍世界的每一寸土地。 每当提起我的第一次
                                            马来西...</a>
                                    </dd>
                                </dl>
                                <div class="tn-extra">
                                        <span class="tn-ding">
                                            <a class="btn-ding" href="javascript:;" data-japp="articleding"
                                               data-iid="14272228" data-vote="211" rel="nofollow"></a>
                                            <em id="topvote14272228">211</em>
                                        </span>
                                    <span class="tn-place"><i></i><a href="javascript:void(0);" class="_j_gs_item"
                                                                     rel="nofollow" data-name="马来西亚" data-objid="10097"
                                                                     data-type="2">马来西亚</a>，by</span>
                                    <span class="tn-user">
                                            <a href="/u/67950566.html" target="_blank" rel="nofollow">
                                                <img
                                                        src="https://b1-q.mafengwo.net/s14/M00/06/36/wKgE2l0qN_yAH1E0ABDWe67cLT047.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                                一二三四五六七八九
                                            </a>
                                        </span>
                                    <span class="tn-nums"><i></i>5890/112</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div align="right" class="m-pagination" id="_j_tn_pagination" data-type="0" data-objid="0">
                        <span class="count">共73页 / 866条</span>

                        <span class="pg-current">1</span>
                        <a class="pi _j_pageitem" href="javascript:;" data-page="2" rel="nofollow">2</a>
                        <a class="pi _j_pageitem" href="javascript:;" data-page="3" rel="nofollow">3</a>
                        <a class="pi _j_pageitem" href="javascript:;" data-page="4" rel="nofollow">4</a>
                        <a class="pi _j_pageitem" href="javascript:;" data-page="5" rel="nofollow">5</a>
                        <a class="pi _j_pageitem" href="javascript:;" data-page="6" rel="nofollow">6</a>
                        <a class="pi _j_pageitem" href="javascript:;" data-page="7" rel="nofollow">7</a>
                        <a class="pi _j_pageitem" href="javascript:;" data-page="8" rel="nofollow">8</a>
                        <a class="pi _j_pageitem" href="javascript:;" data-page="9" rel="nofollow">9</a>
                        <a class="pg-next _j_pageitem" href="javascript:;" data-page="2" rel="nofollow">下一页
                            &gt;&gt;</a>
                    </div>
                </div>
            </div>
            <!-- 内容本体 e -->
        </div>


    </div>

</div>
</body>

</html>