<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>周游旅行平台</title>
    <link th:href="@{/asserts/css/navslider.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/asserts/css/travelnotes.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/asserts/css/tools/jquery.pagination.css}" />
    <link rel="stylesheet" th:href="@{/asserts/css/style.css}" />


    <link th:href="@{/asserts/css/tools/spop.css}" rel="stylesheet" type="text/css" />


    <script th:src="@{/asserts/js/common/jquery.js}"></script>
    <script th:src="@{/asserts/js/tools/spop.js}"></script>
    <script th:src="@{/asserts/js/tools/jquery.pagination.min.js}"></script>
    <script th:src="@{/asserts/js/home/homepage.js}"></script>

</head>

<body>

<div id="header" th:fragment="navbar">

    <script th:inline="javascript">
        /*<![CDATA[*/
        var user_id=[[${session.user_id}]];
        /*]]>*/
    </script>

    <div class="zy-header">
        <div class="header-wrap-zy clearfix" id="_j_head_nav_warper">
            <div class="head-logo-zy"><a class="zy-logo" title="周游旅行平台" href="/" th:href="@{/}"></a></div>
            <ul class="head-nav-zy" data-cs-t="headnav" id="_j_head_nav">
                <li class="head-nav-zy-index"><a href="/" th:href="@{/}">首页</a></li>
                <li class="head-nav-zy-place"><a href="/mdd" th:href="@{/mdd}">目的地</a></li>
                <li class="head-nav-zy-gonglve"><a href="" th:href="@{/strategies}">旅游攻略</a></li>
                <li class="head-nav-zy-flight"><a href="" th:href="@{/together}">结伴</a></li>
            </ul>

            <!-- 未登录 -->
            <div class="login-out" th:if="${session.user_id eq null}">
                <a id="_j_showlogin" title="登录" href="" th:href="@{/login}" rel="nofollow">登录</a><span class="split">|</span><a href="" th:href="@{/login#1}" title="注册帐号" rel="nofollow">注册</a>
            </div>

            <div class="head-user-zy" id="_j_head_user" th:if="${session.user_id ne null}">
                <a class="_user_manage" tabindex="1" title="个人空间">
                    <div class="user-image">
                        <img th:src="${session.user_logo}"
                             src="https://n3-q.mafengwo.net/s14/M00/61/E8/wKgE2l0V5VWALV8-AAM2SSal2oE02.jpeg?imageMogr2%2Fthumbnail%2F%2132x32r%2Fgravity%2FCenter%2Fcrop%2F%2132x32%2Fquality%2F90"
                             height="32" width="32" alt="wdnmd的窝">
                    </div>
                </a>
            </div>

            <div class="head-msg" id="_j_head_msg" th:if="${session.user_id ne null}">
                <a class="drop-trigger _drop_msg_detail" href="javascript:" style="text-decoration: none;">
                    <i class="icon-msg"></i>
                    消息
                    <i class="icon-caret-down"></i>
                    <span class="head-msg-new _head_msg" style="display: none;">0</span>
                </a>
            </div>


            <div class="head-msg" id="_j_head_private_letter" th:if="${session.user_id ne null}">
                <a class="drop-trigger" href="javascript:"  th:href="@{/letter}" style="text-decoration: none;">
                    <i class="icon-letter"></i>
                    私信
                    <span class="head-msg-new _head_private_letter" style="display: none;">&nbsp;&nbsp;</span>
                </a>
            </div>


            <div class="dropdown-group">
                <!-- 消息下拉菜单 begin 修改display属性为block为显示-->
                <div class="dropdown-menu dropdown-msg" id="_j_msg_panel"
                     style="display: none;right: 45px">
                    <ul>
                        <!--TODO-->
                    </ul>
                </div>
                <!-- 消息下拉菜单 end -->





                <!-- 用户下拉菜单 begin 修改display属性为block为显示-->
                <div class="dropdown-menu dropdown-user hide" id="_j_user_panel" data-cs-t="user_nav"
                     style="display: none;width: 130px;">
                    <ul>
                        <li><a href="" th:href="@{'/u/'+${session.user_id}+'/note'}" title="个人空间"><i class="icon-wo"></i>个人空间</a></li>
                        <li><a href="/setting" th:href="@{/setting}" title="我的设置" target="_blank"  data-cs-p="settings"><i class="icon-settings"></i>设置</a></li>
                        <li><a href="/logout" th:href="@{/logout}" title="退出登录"><i class="icon-logout" data-cs-p="logout"></i>退出</a></li>
                    </ul>
                </div>
                <!-- 用户下拉菜单 end -->
            </div>

        </div>
        <div class="shadow"></div>
    </div>

    <link href="navbar.css" th:href="@{/asserts/css/navbar.css}" rel="stylesheet" type="text/css" />

    <script th:src="@{/asserts/js/message/message.js}"></script>

</div>







    <!-- 轮播图及搜索 s-->
    <div class="zy-focus" id="_j_zy_focus">
        <div class="show-slider" id="_j_top_pic_container" style="height: 506px;">
            <ul class="show-image">
                <hhh th:each="note:${notes}">
                <li  class="first" th:style="${noteStat.index eq 0?'display: list-item;':'display: none;'}">
                    <a class="show-pic" th:href="@{'/note/' + ${note.noteId}}" target="_blank">
                        <img th:src="${note.pic}">
                    </a>
                    <a class="show-title dark" href="/note/82" target="_blank">
                        <div class="date" th:text="${note.date}">
                            <span class="day">31</span>/Dec.2018
                        </div>
                        <h3 th:text="${note.title}">重逢云南：大理的夏，丽江的秋</h3>
                    </a>
                </li>
                </hhh>
            </ul>
            <ul class="show-nav">
                <hhh th:each="note:${notes}">
                    <li th:class="${noteStat.index eq 0?'active_select':''}">
                        <a href="javascript:">
                            <img
                                th:src="${note.pic}"
                                height="62" width="110"><span></span>
                        </a>
                    </li>
                </hhh>
            </ul>

        </div>

        <div class="search-container" id="_j_index_search">
            <div class="search-group">
                <div class="searchtab" id="_j_index_search_tab">
                    <ul class="clearfix">
                        <li data-index="1" class="tab-selected"><i></i>景点</li>
                        <li data-index="2" class=""><i></i>游记</li>
                        <li data-index="3" class=""><i></i>结伴</li>
                    </ul>
                </div>



                <!-- 目的地 begin -->
                <div class="searchbar hide" id="_j_index_search_bar_mdd">
                    <form action="/search/sight" method="get">
                        <div class="search-wrapper">
                            <div class="search-input">
                                <input name="s_content" type="text" placeholder="我要去..." id="_j_index_search_input_mdd"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="search-button" id="_j_index_search_btn_mdd">
                            <a role="button" href="javascript:"><i class="icon-search"></i></a>
                        </div>
                    </form>
                </div>
                <!-- 目的地 end -->


            </div>
        </div>
    </div>
    <!-- 轮播图及搜索 e-->

    <div class="zy-container">
        <div class="zy-wrapper">
            <div class="zy-travelnotes">
                <!-- 游记navbar s-->
                <div class="navbar clearfix">
                    <ul class="tn-nav" id="_j_tn_nav">

                        <li class="active _j_gs_tab tn-nav-hot">
                            <a data-type="2" data-objid="0">热门游记</a>
                        </li>
                        <li class="_j_gs_tab tn-nav-new">
                            <a data-type="1">最新发表</a>
                        </li>
                    </ul>
                    <div class="tn-write"><a class="btn-add" href="" th:href="@{/note/startNote}" target="_blank" rel="nofollow"><i></i>写游记</a></div>

                </div>
                <!-- 游记navbar e-->
                <div class="tn-selected _j_tag_choose_container" style="display: block;"></div>
                <!-- 内容本体 s-->
                <div class="pagelet-block __web-inspector-hide-shortcut__" data-params="{&quot;type&quot;:&quot;0&quot;}" data-async="1">
                    <div id="_j_tn_content">
                        <div class="tn-list">
                            <!--TODO-->
                        </div>
                        <div align="right" class="m-pagination" id="_j_tn_pagination" data-type="0" data-objid="0">
                            <div id="pagination" class="page f1" style="text-align: center;"></div>
                        </div>
                    </div>
                </div>
                <!-- 内容本体 e -->
            </div>
            

        </div>
        <!-- 侧栏 s-->
        <div class="zy-aside">
            <div class="asidebox box-gonglve">
                <div class="asidebox-hd">
                    <h2 class="hd-title">旅游攻略推荐</h2>
                    <a class="hd-right" th:href="@{/strategies}">更多</a>
                </div>
                <div class="asidebox-bd">
                    <div class="gonglve-item">
                        <div class="img">
                            <a href="/s/1" target="_blank"><img
                                    style="height:100%;width:100%"
                                    src="http://p4-q.mafengwo.net/s9/M00/8C/31/wKgBs1hfyAiAVXM7AAtMLTa_Q-E96.jpeg?imageMogr2%2Fthumbnail%2F1360x%2Fstrip%2Fquality%2F90">
                            </a>
                        </div>
                        <h3><a href="/s/1" target="_blank">武汉两日游</a>
                        </h3>
                    </div>


                </div>



                <div class="asidebox box-gonglve">
                    <div class="asidebox-bd">
                        <div class="gonglve-item">
                            <div class="img">
                                <a href="/s/3" target="_blank"><img
                                        style="height:100%;width:100%"
                                        src="http://p1-q.mafengwo.net/s13/M00/5A/73/wKgEaVzSQc6AQHUxAAL-jT2F-PU78.jpeg?imageMogr2%2Fthumbnail%2F1360x%2Fstrip%2Fquality%2F90">
                                </a>
                            </div>
                            <h3><a href="/s/3" target="_blank">北京全境8日线路</a>
                            </h3>
                        </div>
    
    
                    </div>
                </div>
            </div>
        </div>

        <!-- 侧栏 s-->
    </div>
</body>

</html>