<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 个人空间 -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${name + '的个人中心'}">wdnmd的个人中心</title>
    <meta name="renderer" content="webkit" />
    <link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1542357401.css"
          rel="stylesheet" type="text/css" />
    <link href="http://css.mafengwo.net/css/cv/css+home_new2015+home_new2015:css+path+wo-path_v2:css+clip:css+path+map:css+path+jvectormap-2.0.1^alI^1545682406.css"
          rel="stylesheet" type="text/css" />

    <script th:inline="javascript">
        var uid = [[${uid}]];
        var myId = [[${session.user_id}]];
        var part = [[${part}]];
    </script>

    <link rel="stylesheet" th:href="@{/asserts/css/collecthome.css}" />
    <link th:href="@{/asserts/css/tools/spop.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/asserts/js/common/jquery.js}"></script>
    <script th:src="@{/asserts/js/tools/spop.js}"></script>
    <script th:src="@{/asserts/js/home/userHome/comprehension.js}"></script>


    <script th:src="@{/asserts/js/home/userHome/collect.js}"></script>


</head>

<body style="padding-top: 0px !important">

<div id="header" th:replace="~{homepage :: navbar}"></div>

<div class="main">
    <div class="banner">
        <div class="banner_img banner_note" id="_j_banner">
        </div>
        <div class="tags_bar second_tags_bar">
            <div class="center clearfix">
                <ul class="flt2" style="float: left;margin-left:280px;">
                    <li><a class="tags_link" href="" th:href="@{'/u/'+${uid}+'/note'}" target="_self"  th:title="${(uid eq session.user_id?'我':'TA') + '的游记'}"
                           th:text="${(uid eq session.user_id?'我':'TA') + '的游记'}">我的游记</a></li>
                    <li class="on"><a class="tags_link _collect_choose" tabindex="1" th:title="${(uid eq session.user_id?'我':'TA') + '的收藏'}"
                                      th:text="${(uid eq session.user_id?'我':'TA') + '的收藏'}">我的收藏</a></li>
                    <li><a class="tags_link" href="" th:href="@{'/u/'+${uid}+'/comment'}" target="_self" th:title="${(uid eq session.user_id?'我':'TA') + '的点评'}"
                           th:text="${(uid eq session.user_id?'我':'TA') + '的点评'}">我的点评</a></li>
                    <li><a class="tags_link" href="" th:href="@{'/u/'+${uid}+'/together'}" target="_self" th:title="${(uid eq session.user_id?'我':'TA') + '的结伴'}"
                           th:text="${(uid eq session.user_id?'我':'TA') + '的结伴'}">我的结伴</a></li>
                </ul>
            </div>
        </div>
        <div th:replace="~{home/userHome/note :: collectExtend}"></div>
    </div>

    <div class="center clearfix">
        <!-- sidebar -->
        <div th:replace="~{home/userHome/note :: side_bar}"></div>



        <div class="content flt2">

            <!-- 结伴板块 -->
            <div class="wrap">
                <div class="mian dialogue">
                    <div class="dia_list ">
                        <!-- 收藏景点 s-->
                        <div class="sight_item clearfix">

                            <ul class="p-poi clearfix">
                                <!-- 一个景点 s -->
                                <li th:each="collectSight:${collectSights}">
                                    <a href="/poi/3394.html" th:href="@{'/sight/'+${collectSight.id}}" target="_blank">
                                        <div class="img"><img th:src="${collectSight.pic}" src="http://p2-q.mafengwo.net/s5/M00/05/FC/wKgB2lGxjzmAcwzxAAvgdfDYIU407.jpeg?imageMogr2%2Fthumbnail%2F%21240x240r%2Fgravity%2FCenter%2Fcrop%2F%21240x240%2Fquality%2F90" width="162" height="100"></div>
                                        <!-- 取消收藏按钮 -->
                                        <span class="p-btn-delete" th:onclick="'deleteCollect('+ ${collectSight.collectId} +')'"><i></i></span>
                                        <div class="info">
                                            <p class="title" th:text="${collectSight.name}">青岛邮电博物馆</p>
                                        </div>
                                    </a>
                                </li>
                                <!-- 一个景点 e -->
                            </ul>
                        </div>
                        <!-- 收藏景点 e-->




                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>