a{background-color:transparent;text-decoration:none;color:#ff9d00;cursor:pointer}
a:hover{outline:0;text-decoration:underline;color:#ff8a00}
ul,li,ol{list-style:none;padding:0;margin:0}
img{border:0;vertical-align:middle}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
body {
    font-size: 12px;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    _font-family: Tahoma,Arial,Helvetica,STHeiti;
    color: #666;
}

input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}

.clearfix{*zoom:1}
.clearfix:after{content:'';clear:both;height:0;display:block;overflow:hidden}
.zy-header{height:68px;background-color:#fff;position:relative;z-index:90}
.header-wrap-zy{width:1120px;height:68px;margin:0 auto;_overflow:hidden;position:relative;z-index:2}
.zy-header .shadow{position:absolute;left:0;bottom:-2px;right:0;width:100%;height:2px;border-top:1px solid #d6d6d6;background-color:rgba(0,0,0,.06);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#11000000',endColorstr='#11000000');overflow:hidden}


.head-logo-zy{float:left;padding:10px 0;width:136px;height:58px}
.head-logo-zy .zy-logo{display:block;height:40px;background:url(logo.png) no-repeat 0 0;background-size:136px 45px;position:relative}


.head-nav-zy{float:left;display:inline;padding:0 10px 0 25px;line-height:68px;font-size:16px;color:#333}
.head-nav-zy li{float:left}
.head-nav-zy li a{display:inline-block;padding:0 16px;color:#333;vertical-align:top;overflow:hidden}
.head-nav-zy li a:hover,.head-nav-zy .head-nav-hover a{text-decoration:none;color:#ff9d00;height:65px;border-bottom:3px solid #ff9d00}
.head-nav-zy .head-nav-active a{background-color:#ff9d00;color:#fff!important;text-decoration:none}
.login-info{float:right}
.login-info a{color:#666;font-size:14px}
.login-info a:hover,.login-info .drop-trigger-active{color:#ff9d00}
.head-user-zy{float:right}
.head-user-zy .user-image{float:left;margin-top:15px;width:32px;height:32px;border-radius:50%;overflow:hidden;border:2px solid #fff}
.head-user-zy a:hover .user-image,.head-user .drop-trigger-active .user-image{border-color:#ff9d00}


.head-search-zy{float:left;width:130px;height:68px;position:relative}
.head-search-wrapper-zy{position:absolute;right:0;top:0;width:130px;padding:16px 13px 15px;height:36px;background-color:#fff;border-bottom:1px solid #d6d6d6;-webkit-transition:width .5s ease 0s;transition:width .5s ease 0s}
.head-searchform-zy{height:36px;position:relative}
.head-searchform-zy input{border:1px solid #efefef;background-color:#efefef;width:108px;height:34px;padding:0 10px;line-height:34px;font-size:14px;color:#666;border-radius:4px;-webkit-transition:width .5s ease 0s;transition:width .5s ease 0s}
.head-searchform-zy input:focus{border-color:#ff9d00;box-shadow:0 0 3px rgba(255,157,0,.5);background-color:#fff}
.head-search-zy .icon-search-zy{position:absolute;top:8px;right:8px;width:20px;height:20px;background-image:url(https://css.mafengwo.net/images/header-sprites15.png);background-position:-30px -110px!important;overflow:hidden}



/* message 消息提醒 */
.head-msg {
    float: right;
    display: inline;
    margin-right: 15px;
    line-height: 68px;
}
.header-place-default .login-info a {
    color: #fff;
}

.drop-trigger {
    display: inline-block;
    height: 68px;
    padding-right: 13px;
    position: relative;
    cursor: pointer;
    vertical-align: top;
}
.drop-trigger{
    color: #666;
    font-size: 14px;
   
}
.header-place-default .icon-caret-down {
    border-top-color: #fff;
}
.drop-trigger .icon-caret-down {
    position: absolute;
    right: 0;
    top: 32px;
}
.icon-caret-down {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 4px solid #666;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    overflow: hidden;
}

.header-place-default .login-info a {
    color: #fff;
}
.login-info a {
    color: #666;
    font-size: 14px;
}

.head-msg-new {
    position: absolute;
    z-index: 2;
    right: 30px;
    top: 16px;
    height: 16px;
    background-color: #ff9d00;
    border-radius: 8px;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
}

.zy-header .dropdown-group .dropdown-menu {
    right: 50%;
    margin-right: -500px;
}
.zy-header .dropdown-msg {
    z-index: 2;
}
.zy-header .dropdown-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    z-index: 10;
    margin-top: 68px; 
}
.zy-header .dropdown-menu ul {
    margin-bottom: 10px;
}
.zy-header .dropdown-menu li {
    display: table;
    height: 36px;
    font-size: 14px;
    line-height: 26px;
    color: #666;
    position: relative;
    vertical-align: top;
}

.zy-header .dropdown-menu li a {
    display: table;
    height: 36px;
    padding-top: 7px;
    padding: 0 10px 0 20px;
    color: #666;
    cursor: pointer;
}
.zy-header .dropdown-menu li a:hover{
    background-color: #eee;
    color: #666;
    text-decoration: none;
}

.zy-header .dropdown-menu .message-clear{
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    color: #666;
    position: relative;
    vertical-align: top;
}
.message-clear a{
    
    color: #666;
    position: relative;
    vertical-align: bottom;
}

.head-logo .mfw-logo, .mfw-header .dropdown-user [class|="icon"], .searchtab i, .search-group .icon-search, .search-group .icon-cal, .login-out .weibo-login, .login-out .qq-login, .login-out .weixin-login, .head-search .icon-search {
    background: url(https://css.mafengwo.net/images/header-sprites15@2x.png) no-repeat;
    background-size: 200px;
}
.zy-header .dropdown-user li a {
    padding-left: 53px;
}

.zy-header .dropdown-user [class|="icon"] {
    position: absolute;
    left: 23px;
    top: 10px;
    width: 16px;
    height: 16px;
    background: url(https://css.mafengwo.net/images/header-sprites15.png) no-repeat -60px -50px;
}
.zy-header .dropdown-user .icon-wo {
    height: 17px;
    background-position: -90px -50px!important;
}
.zy-header .dropdown-user .icon-settings {
    width: 18px;
    height: 18px;
    background-position: -90px -110px!important;
}
.zy-header .dropdown-user .icon-logout {
    background-position: -120px -110px!important;
}


.login-out {
    float: right;
    padding: 21px 10px;
    height: 26px;
    line-height: 26px;
    color: #c9c9c9;
    text-align: right;
}
.login-out a {
    font-size: 14px;
}
.login-out .split {
    display: inline-block;
    margin: 0 10px;
    width: 1px;
    height: 14px;
    background-color: #c9c9c9;
    overflow: hidden;
    vertical-align: -2px;
}


.banner .dropdown-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    z-index: 10;
    margin-top: 260px;
    margin-right:15%;
}
.banner .dropdown-menu ul {
    margin-bottom: 10px;
}
.banner .dropdown-menu li {
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    color: #666;
    position: relative;
    vertical-align: top;
}

.banner .dropdown-menu li a {
    text-align: center;
    display: block;
    height: 36px;
    padding-top: 7px;
    padding: 0 10px 0 10px;
    color: #666;
    cursor: pointer;
}

.banner .dropdown-menu li a:hover{
    background-color: #eee;
    color: #666;
    text-decoration: none;
}
.dropdown-collect li a {
    padding-left: 53px;
}