<?xml version="1.0" encoding="GBK" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.travel.dao.Aa01Dao">
    <select id="getNameAndPicById" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT aaa102 AS "name", aaa106 AS "pic"
        FROM aa01
        WHERE aaa101=#{id}
        ;
    </select>

    <select id="getUserByMail" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT aaa101 AS "id", aaa102 AS "name", aaa108 AS "password"
        FROM aa01
        WHERE aaa107=#{mail}
        ;
    </select>

    <insert id="addUser" parameterType="java.util.HashMap">
        INSERT INTO aa01(aaa102, aaa103, aaa105, aaa107, aaa108)
        VALUES (#{name}, 0, current_time(), #{mail}, #{password});
    </insert>
</mapper>