<?xml version="1.0" encoding="GBK" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.travel.dao.Aa03Dao">
    <select id="getPicById" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT aaa305 FROM aa03
        WHERE aaa301=#{id}
        ;
    </select>

    <select id="getNameById" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT aaa302 FROM aa03
        WHERE aaa301=#{id}
        ;
    </select>

    <select id="getPicAndNameById" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT aaa302 AS "name", aaa305 AS "pic"
        FROM aa03
        WHERE aaa301=#{id}
        ;
    </select>

    <select id="getProvinceId" resultType="java.lang.Integer">
        SELECT aaa301 FROM aa03
        WHERE aaa304=0
        ;
    </select>

    <select id="getCitiesIdByProvince" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT aaa301 FROM aa03
        WHERE aaa304=#{id}
        ;
    </select>
</mapper>