<?xml version="1.0" encoding="GBK" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.travel.dao.Ab01Dao">
    <select id="queryById" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT
          aab101,aaa101,aab102,aab103,aab104,
          aab105,aab106,aab107,aab108,aab109,
          aab110,aab111
        FROM ab01
          WHERE aab103=1 AND aab101=#{id}
          ;
    </select>

    <update id="changeStateById">
        UPDATE ab01
        SET aab103=#{state}
        WHERE aab101=#{id}
        ;
    </update>
    
    <select id="getAll" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT
          aab101,aaa101,aab102,aab103,aab104,
          aab105,aab106,aab107,aab108,aab109,
          aab110,aab111
        FROM ab01
        WHERE aab103=0 limit #{begin},#{num};
    </select>
    
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM ab01
        where aab103=0;
    </select>


    <select id="getHomeNotes" resultType="java.util.HashMap">
        SELECT t1.id, t1.title,t1.content,t1.mddName, t1.mddId,
        t1.authorId, t1.authorName,t1.authorPic,IFNULL(t2.thumbsUpCount,0) AS thumbsUpCount,IFNULL(t3.collectCount,0) AS collectCount,
        IFNULL(t4.commentCount,0) AS commentCount,t1.coverPic, t1.view
        FROM
        (SELECT b.aab101 AS 'id',b.aab102 AS 'title', b.aab110 AS 'content', c.aaa302 AS 'mddName', c.aaa301 AS 'mddId',
        a.aaa101 AS 'authorId', a.aaa102 AS 'authorName',a.aaa106 AS 'authorPic', b.aab111 AS 'coverPic', b.aab109 AS 'view'
        FROM aa01 a, ab01 b, aa03 c
        WHERE b.aaa101=a.aaa101 AND b.aaa301=c.aaa301 AND ${mdd} )t1
        LEFT JOIN
        (SELECT aad203 AS 'id', count(aad203) AS 'thumbsUpCount'
        FROM ad02
        WHERE aad202=1)t2
        ON t1.id=t2.id
        LEFT JOIN
        (SELECT aad404 AS 'id', count(aad404) AS 'collectCount'
        FROM ad04
        WHERE aad403=1)t3
        ON t1.id=t3.id
        LEFT JOIN
        (SELECT aac003 AS 'id', count(aac003) AS 'commentCount'
        FROM ac00
        WHERE aac002=1)t4
        ON t1.id=t4.id
        ORDER BY ${order}
        LIMIT #{page},#{offset}
        ;
    </select>

    <select id="getNotesCount" resultType="java.lang.Integer">
        SELECT COUNT(aab101)
        FROM ab01
        WHERE ${mdd}
        ;
    </select>

</mapper>