<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.travel.dao.Ab01Dao">

    <select id="query" resultType="HashMap">
        SELECT * FROM ab01;
    </select>

    <update id="updateEmp" parameterType="java.util.Map">
        UPDATE ab01
        SET 
        <foreach collection="dto" item="value" index="key" separator=",">
            <if test="key!='aab101'">
                ${key}=#{value}
            </if>
        </foreach>
        WHERE 
        <foreach collection="dto" item="value" index="key" separator=",">
            <if test="key=='aab101'">
                aab101=#{value}
            </if>
        </foreach>
        ;
    </update>

</mapper>