<?xml version="1.0" encoding="GBK" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.travel.dao.Ab02Dao">
	<select id="fuzzyGet" resultType="java.util.HashMap">
		SELECT aab201,aaa301,aab202,aab203,aab204
		FROM ab02
	<where>
	<if test="map.city!=null and map.city!=''">
		and aaa301 LIKE CONCAT(CONCAT('%',#{map.city}),'%')
	</if>
	<if test="map.name!=null and map.name!=''">
		and aab202 LIKE CONCAT(CONCAT('%',#{map.name}),'%')
	</if>
	</where>
	limit #{map.begin}, #{map.num}
	</select>
	
	<insert id="insertStrategy" parameterType="java.util.HashMap" >
		INSERT into ab02(aaa301,aab202,aab203,aab204)
		VALUES(#{aab301},#{aab202},#{aab203},#{aab204})
		;
	</insert>
	
	<delete id="delStrategy" parameterType="java.lang.Integer" >
		DELETE FROM ab02
		WHERE aab201=#{id}
	</delete>
	
	<update id="updateStrategy" parameterType="java.util.HashMap"  >
		UPDATE ab02
		SET aaa301=#{aab301},aab202=#{aab202},aab203=#{aab203},aab204=#{aab204}
		WHERE aab201=#{id}
	</update>
		
	<select id="fuzzySelectCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT count(*) 
		FROM ab02
	<where>
	<if test="map.city!=null and map.city!=''">
		and aaa301 LIKE CONCAT(CONCAT('%',#{map.city}),'%')
	</if>
	<if test="map.name!=null and map.name!=''">
		and aab202 LIKE CONCAT(CONCAT('%',#{map.name}),'%')
	</if>
	</where>
	</select>
	
	<select id="queryById" parameterType="java.lang.Integer" resultType="java.util.HashMap" >
		SELECT aab201,aaa301,aab202,aab203,aab204

		FROM ab02
		where aab201=#{id};
	</select>



	<select id="getRouteDetailByRId" resultType="java.util.HashMap">
		SELECT aab201 as 'rid', aa03.aaa301 as 'pid', aa03.aaa302 as 'pname', aab202 as 'name', aab203 as 'routes',
		       aab204 as 'summary'
		FROM ab02, aa03
		WHERE aab201=#{rid} AND aa03.aaa301=ab02.aaa301;
	</select>

	<select id="getTopRouteByCid" resultType="java.util.HashMap">
		SELECT rid, name, routes FROM
		(SELECT aab201 as 'rid', aab202 as 'name', aab203 as 'routes'
		FROM ab02
		WHERE ab02.aaa301=#{cid}) t
		LEFT JOIN
			(SELECT count(aad201) as 'count', aad203
			 FROM ad02
			 WHERE aad202=2
			 GROUP BY aad203) t2
		ON t.rid=t2.aad203
		ORDER BY count DESC
		<if test="limit != null">LIMIT ${limit}</if>
		;
	</select>

</mapper>