<?xml version="1.0" encoding="GBK" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.travel.dao.Ab05Dao">
    <select id="queryById" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT authorId, title, date, setout, period,
            count, telephone, intro, commentCount, view
        from
            (SELECT
                 aab501, aaa101 AS "authorId", aab502 AS "title", aab503 AS "date", aab504 AS "setout", aab505 AS "period",
                         aab506 AS "count", aab507 AS "telephone",aab508 AS "intro", aab510 AS "view"
             FROM ab05
             WHERE aab509=1 AND aab501=#{id}) t1
            LEFT JOIN
            (SELECT aab501, count(aac001) AS "commentCount"
             FROM ab05, ac00
             WHERE ab05.aab501=ac00.aac003 AND ac00.aac002="5" AND ab05.aab501=#{id} AND ac00.aac006=1
             GROUP BY aab501) t2
                on t1.aab501=t2.aab501
        ;
    </select>

    <update id="changeStateById">
        UPDATE ab05
        SET aab509=#{state}
        WHERE aab501=#{id}
        ;
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM ab05
        WHERE aab509=0
        AND aab501=#{id}
        ;
    </delete>

    <insert id="insertCompany" parameterType="java.util.Map">
        <selectKey keyProperty="dto.id" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO ab05
        (aaa101, aab502, aab503, aab504, aab505,
         aab506, aab507, aab508, aab509, aab510)
         VALUES
         (#{dto.aaa101}, #{dto.aab502}, #{dto.aab503,jdbcType=DATE}, #{dto.aab504,jdbcType=VARCHAR}, #{dto.aab505,jdbcType=INTEGER},
          #{dto.aab506,jdbcType=INTEGER}, #{dto.aab507,jdbcType=VARCHAR}, #{dto.aab508}, 0, 0)
         ;
    </insert>


    <select id="getAuthorIdAndTitleOfUnpassById" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT aaa101 AS 'uid', aab502 AS 'title'
        FROM ab05
        WHERE aab501=#{id} AND aab509=0;
        ;
    </select>

    <select id="getIntroById" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT aab508
        FROM ab05
        WHERE aab501=#{id} AND aab509=1;
        ;
    </select>

    <select id="getAll" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT t.aab501 as id,t.aaa102 as author,t.aab502 as name ,t.aab503 as gotime,t.aab504 as setout,
        t.aab505 as spendtime,t.aab506 as peoplenumber,t.aab507 tel,GROUP_CONCAT(u.city) destiny
		from (SELECT b.aab501,a.aaa102,b.aab502,b.aab503,b.aab504,b.aab505,b.aab506,b.aab507
		from  aa01 a  INNER JOIN ab05 b on a.aaa101=b.aaa101   
		where b.aab509=0) AS t LEFT JOIN (select c.aab501,d.aaa302 AS city,c.aac701
		from ac07 c,aa03 d
		where c.aaa301=d.aaa301) AS u on t.aab501=u.aab501 group by t.aab501
        limit #{begin},#{num};
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM ab05
        where aab509=0;
    </select>

    <select id="getSearchCompInfoByMDD" resultType="java.util.HashMap">
        SELECT t1.id, t1.intro, t1.date, t1.authorName, t1.authorPic,
         IFNULL(t2.star,0) 'star', t3.name, t3.mddPic
        FROM
        (SELECT a.aab501 AS 'id', a.aab508 AS 'intro', a.aab503 AS 'date', c.aaa102 AS 'authorName', c.aaa106 AS 'authorPic'
				FROM ab05 a, ac07 b, aa01 c
				WHERE a.aaa101=c.aaa101 AND a.aab501=b.aab501 AND a.aab509=1
				AND b.aaa301=#{pid}) t1
				LEFT JOIN
        (SELECT a.aab501 AS 'id' ,count(b.aad404) AS 'star'
				FROM ab05 a, ad04 b, ac07 c
        WHERE a.aab501=b.aad404 AND a.aab501=c.aab501 AND b.aad403=5 AND c.aaa301=#{pid}
        GROUP BY id) t2
        ON t1.id=t2.id
        LEFT JOIN
        (SELECT a.aab501 AS 'id', b.aaa305 AS 'mddPic',GROUP_CONCAT(DISTINCT(b.aaa302) SEPARATOR '|') AS 'name'
        FROM ac07 a, aa03 b
        WHERE a.aaa301=b.aaa301
        GROUP BY id) t3
        ON t1.id=t3.id
        ORDER BY ${order}
        LIMIT #{page},#{offset};
        ;
    </select>

    <select id="getCompTotalCountByMDD" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(t1.id) AS 'count' FROM
        (SELECT a.aab501 AS 'id', a.aab508 AS 'intro', a.aab503 AS 'date', c.aaa102 AS 'authorName', c.aaa106 AS 'authorPic'
                FROM ab05 a, ac07 b, aa01 c
                WHERE a.aaa101=c.aaa101 AND a.aab501=b.aab501 AND a.aab509=1
                AND b.aaa301=#{pid}) t1 LEFT JOIN
        (SELECT a.aab501 AS 'id' ,count(b.aad404) AS 'star' FROM ab05 a, ad04 b, ac07 c
        WHERE a.aab501=b.aad404 AND a.aab501=c.aab501 AND b.aad403=5 AND c.aaa301=#{pid}
        GROUP BY id) t2
        ON t1.id=t2.id
        ;
    </select>
    
    <update id="updateViewByComp">
        UPDATE ab05 SET aab510=#{view}
        WHERE aab501=#{cid}
        ;
    </update>

    <!--获取最基础的数据-->
    <select id="getCompanyBaseDataByCid" resultType="java.util.HashMap">
        SELECT a.aab501 AS 'id', c.aaa102 AS 'authorName', c.aaa106 AS 'authorPic', b.aaa305 AS 'mddPic', GROUP_CONCAT(DISTINCT(b.aaa302) SEPARATOR '|') AS 'name',
                aab502 AS "title", aab503 AS "date", aab504 AS "setout", aab505 AS "period",
                aab506 AS "count", aab507 AS "telephone",aab508 AS "intro"
        FROM ab05 a, aa03 b,aa01 c,ac07 d
        WHERE a.aaa101=c.aaa101 AND a.aab501=d.aab501 AND d.aaa301 = b.aaa301 AND a.aab501=#{id} AND a.aab509=0
        GROUP BY id;
    </select>

    <select id="getOriginDataByCid" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT t1.id, t1.authorName, t1.authorPic, t1.mddPic, t1.name ,IFNULL(t2.star,0) AS star
        FROM
        (SELECT a.aab501 AS 'id', c.aaa102 AS 'authorName', c.aaa106 AS 'authorPic', b.aaa305 AS 'mddPic', GROUP_CONCAT(DISTINCT(b.aaa302) SEPARATOR '|') AS 'name'
        FROM ab05 a, aa03 b,aa01 c,ac07 d
        WHERE a.aaa101=c.aaa101 AND a.aab501=d.aab501 AND d.aaa301 = b.aaa301 AND a.aab501=#{id}
        GROUP BY id
        ) t1
        LEFT JOIN
        (SELECT aad404 AS 'id', count(aad404) AS 'star'
        FROM ad04
        WHERE aad403=5 AND aad404=#{id}
        ) t2
        ON t1.id=t2.id
    </select>

    <select id="getCompInfoByPublishUId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
            SELECT t1.tid, t1.state, t1.authorId, t1.authorName, t1.authorPic,
			        t1.mddName, t1.setout, t1.leftTime, IFNULL(t2.star,'unstar') AS isStar, 'publisher' AS 'type',
			        t1.title
		    FROM
			(SELECT a.aab501 AS 'tid', a.aab509 AS 'state', c.aaa101 AS 'authorId',c.aaa102 AS 'authorName',c.aaa106 AS 'authorPic',
			 		 GROUP_CONCAT(DISTINCT(b.aaa302) SEPARATOR '|') AS 'mddName', a.aab504 AS 'setout', DATEDIFF(a.aab503,NOW()) AS 'leftTime',
			 		 a.aab502 AS 'title'
			FROM ab05 a, aa03 b,aa01 c,ac07 d
			WHERE a.aaa101=c.aaa101 AND a.aab501=d.aab501 AND d.aaa301 = b.aaa301 AND a.aaa101=#{uid}
			GROUP BY tid)t1 LEFT JOIN
			(SELECT b.aad404 AS 'tid', 'star'
			FROM ab05 a, ad04 b
			WHERE a.aaa101=b.aaa101 AND b.aad403=5 AND a.aaa101=#{uid}
			GROUP BY tid)t2
			ON t1.tid=t2.tid
			;
    </select>

    <select id="getCompInfoByJoinUId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
			SELECT t1.tid, t1.state, t1.authorId, t1.authorName, t1.authorPic,
			        t1.mddName, t1.setout, t1.leftTime, IFNULL(t2.star,'unstar') AS isStar, 'participator' AS 'type',
			        t1.title
		    FROM
			(SELECT a.aab501 AS 'tid', a.aab509 AS 'state', c.aaa101 AS 'authorId',c.aaa102 AS 'authorName',c.aaa106 AS 'authorPic',
			GROUP_CONCAT(DISTINCT(b.aaa302) SEPARATOR '|') AS 'mddName', a.aab504 AS 'setout', DATEDIFF(a.aab503,NOW()) AS 'leftTime',
			a.aab502 AS 'title'
            FROM ab05 a, aa03 b,aa01 c,ac07 d, ac05 e
            WHERE a.aaa101=c.aaa101 AND a.aab501=d.aab501 AND d.aaa301 = b.aaa301 AND a.aab501=e.aab501 AND e.aaa101=#{uid}
            GROUP BY tid)t1 LEFT JOIN
			(SELECT b.aad404 AS 'tid', 'star'
			FROM ab05 a, ad04 b
			WHERE a.aaa101=b.aaa101 AND b.aad403=5 AND a.aaa101=#{uid}
			GROUP BY tid)t2
			ON t1.tid=t2.tid
			;
    </select>
    
    <select id="getCompByKeyword" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT  t1.tid, t1.tname, t1.mdd, t1.time,
                IFNULL(t2.commentCount,0) AS 'commentCount', IFNULL(t3.starCount,0) AS 'starCount'
                FROM
                (SELECT  t0.tid, t0.tname, t0.mdd, t0.time
                FROM (SELECT b.aab501 AS 'tid', b.aab502 AS 'tname', GROUP_CONCAT(DISTINCT(a.aaa302) SEPARATOR '|') AS 'mdd',
                b.aab503 AS 'time'
                FROM aa03 a, ab05 b, ac07 c
                WHERE c.aaa301=a.aaa301 AND c.aab501=b.aab501 AND b.aab509=1
                GROUP BY tid) t0
                WHERE t0.tname LIKE CONCAT('%',#{keyword},'%') OR t0.mdd LIKE CONCAT('%',#{keyword},'%'))t1
                LEFT JOIN
                (SELECT b.aab501 AS 'tid', count(DISTINCT(b.aab501)) AS 'commentCount'
                FROM ac00 a, ab05 b
                WHERE a.aac002=5 AND a.aac003=b.aab501
                ORDER BY tid)t2
                ON t1.tid=t2.tid
                LEFT JOIN
                (SELECT b.aab501 AS 'tid', count(DISTINCT(b.aab501)) AS 'starCount'
                FROM ad04 a, ab05 b
                WHERE a.aad403=5 AND a.aad404=b.aab501
                ORDER BY tid)t3
                ON t1.tid=t3.tid
                ;
    </select>
    
</mapper>