<?xml version="1.0" encoding="GBK" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.travel.dao.Ac00Dao">

    <insert id="addComment" parameterType="java.util.HashMap">
        INSERT INTO ac00(aaa101, aac002, aac003, aac004, aac005,
                           aac006, aac007)
                  VALUES (#{userId}, #{type} , #{pid}, #{content}, CURRENT_TIME,
                           "1" , #{score})
                           ;
    </insert>

    <select id="getCommentByTypeAndIdOrderByLimit" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT a.aac001 AS 'remarkId', b.aaa102 AS 'remarkerName', b.aaa101 AS 'remarkerId', b.aaa106 AS 'remarkerPic',
        a.aac004 AS 'content', count(d.aad201) AS 'thumbsUpCount', DATE_FORMAT(a.aac005,'%Y-%m-%d %H:%i:%S') AS 'time',
        a.aac007 AS 'score'
        FROM ac00 a, aa01 b, ad02 d
        WHERE a.aaa101=b.aaa101 AND a.aac002=#{type} AND d.aad203=a.aac001 AND d.aad202=3
        AND a.aac003=#{id}
        GROUP BY remarkerId
        ORDER BY #{order}
        LIMIT #{start}, #{pageCount}
        ;
    </select>

    <delete id="deleteCommentById" parameterType="java.lang.Integer">
        UPDATE ac00 SET ac006="2"
        WHERE aac001=#{id}
        ;
    </delete>

</mapper>