<?xml version="1.0" encoding="GBK" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.travel.dao.Ac00Dao">

    <insert id="addComment" parameterType="java.util.HashMap">
        <selectKey keyProperty="map.cid" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO ac00(aaa101, aac002, aac003, aac004, aac005,
        aac006, aac007)
        VALUES(#{map.userId}, #{map.type}, #{map.pid}, #{map.content}, CURRENT_TIME,
        "1" , #{map.score})
        ;
    </insert>

    <select id="getCommentByTypeAndIdOrderByLimit" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT remarkId, remarkerId, remarkerName, remarkerPic, content,
        time, thumbsUpCount, aaa101 as 'thumbsId', score FROM
        (SELECT aac001 as 'remarkId' ,aa01.aaa102 AS 'remarkerName', aa01.aaa101 AS 'remarkerId', aa01.aaa106 AS 'remarkerPic',
        ac00.aac004 AS 'content', DATE_FORMAT(ac00.aac005,'%Y-%m-%d %H:%i:%S') AS 'time',
        ac00.aac007 AS 'score'
        FROM ac00, aa01
        WHERE aa01.aaa101 = ac00.aaa101 AND ac00.aac002=#{type} AND ac00.aac003=#{id} AND ac00.aac006=1) t1
        LEFT JOIN ad02 on ad02.aad203 = t1.remarkId AND ad02.aad202 = 3 AND ad02.aaa101 = #{uid}
        LEFT JOIN
        (SELECT a.aac001 AS 'cid', count(d.aad201) AS 'thumbsUpCount'
        FROM ac00 a, aa01 b, ad02 d
        WHERE a.aaa101=b.aaa101 AND a.aac002=#{type} AND d.aad203=a.aac001 AND d.aad202=3
        AND a.aac003=#{id}
        GROUP BY cid) t2
        on t1.remarkId=t2.cid
        ORDER BY ${order}
        LIMIT #{start}, #{pageCount}
        ;
    </select>

    <delete id="deleteCommentById" parameterType="java.lang.Integer">
        UPDATE ac00 SET aac006="2"
        WHERE aac001=#{id}
        ;
    </delete>
    
    <select id="getCompanyCommentInfoByUId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT b.aab501 AS 'toCId', b.aab502 AS 'title', a.aac005 AS 'time', a.aac004 AS 'content','结伴' AS 'type'
        FROM ac00 a, ab05 b
        WHERE a.aac002=5 AND a.aac003=b.aab501 AND a.aac006=1
        AND a.aaa101=#{uid};
        ;
    </select>
    
    <select id="getNoteCommentInfoByUId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT b.aab101 AS 'toCId', b.aab102 AS 'title', a.aac005 AS 'time', a.aac004 AS 'content','游记攻略' AS 'type'
        FROM ac00 a, ab01 b
        WHERE a.aac002=1 AND a.aac003=b.aab101 AND a.aac006=1
        AND a.aaa101=#{uid}
        ;
    </select>
    
    <select id="getSightCommentInfoByUId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT b.aab301 AS 'toCId', b.aab302 AS 'title', a.aac005 AS 'time', a.aac004 AS 'content','景点' AS 'type'
        FROM ac00 a, ab03 b
        WHERE a.aac002=3 AND a.aac003=b.aab301 AND a.aac006=1
        AND a.aaa101=#{uid}
        ;
    </select>
    
    <select id="getSysCommentInfoByUId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT b.aab201 AS 'toCId', b.aab202 AS 'title', a.aac005 AS 'time', a.aac004 AS 'content','系统攻略' AS 'type'
        FROM ac00 a, ab02 b
        WHERE a.aac002=2 AND a.aac003=b.aab201 AND a.aac006=1
        AND a.aaa101=#{uid}
        ;
    </select>

</mapper>