<?xml version="1.0" encoding="GBK" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.travel.dao.Ad03Dao">
    
    <insert id="addFollow">
        INSERT INTO ad03(aad302,aad303)
        VALUES (#{followerId},#{userId})
        ;
    </insert>

    <delete id="removeFollow">
        DELETE FROM ad03
        WHERE aad302=#{followerId} AND aad303=#{userId}
        ;
    </delete>

    <select id="isFollow" resultType="java.lang.Integer">
        SELECT aad301
        FROM ad03
        WHERE aad302=#{followerId} AND aad303=#{userId}
        ;
    </select>

    <select id="getFollows" resultType="java.util.HashMap">
        SELECT aa01.aaa101 as 'uid', aaa102 as 'userName', aaa103 as 'sex',
               aaa106 as 'pic'
        FROM ad03, aa01
        WHERE ad03.aad302=#{uid} AND ad03.aad303=aa01.aaa101;
    </select>

    <select id="getFans" resultType="java.util.HashMap">
        SELECT aa01.aaa101 as 'uid', aaa102 as 'userName', aaa103 as 'sex',
        aaa106 as 'pic'
        FROM ad03, aa01
        WHERE ad03.aad303=#{uid} AND ad03.aad302=aa01.aaa101;
    </select>

    <select id="getUserFollows" resultType="java.util.HashMap">
        SELECT uid, userName, sex, pic, followId FROM
        (SELECT aa01.aaa101 as 'uid', aaa102 as 'userName', aaa103 as 'sex',
        aaa106 as 'pic'
        FROM ad03, aa01
        WHERE ad03.aad302=#{uid} AND ad03.aad303=aa01.aaa101) t
        LEFT JOIN (SELECT aad302 as 'followId', aad303
            FROM ad03
            WHERE aad302=#{myId}) t2
        ON t.uid=t2.aad303;
    </select>

    <select id="getUserFans" resultType="java.util.HashMap">
        SELECT uid, userName, sex, pic, followId FROM
        (SELECT aa01.aaa101 as 'uid', aaa102 as 'userName', aaa103 as 'sex',
        aaa106 as 'pic'
        FROM ad03, aa01
        WHERE ad03.aad303=#{uid} AND ad03.aad302=aa01.aaa101) t
        LEFT JOIN (SELECT aad302 as 'followId', aad303
        FROM ad03
        WHERE aad302=#{myId}) t2
        ON t.uid=t2.aad303;
    </select>

</mapper>