<?xml version="1.0" encoding="GBK" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.travel.dao.Sa01Dao">
    
    <insert id="insertMessage" parameterType="java.util.HashMap">
        INSERT INTO sa01(aaa101,ssa102,ssa103,ssa104)
        VALUES (#{dto.userId},#{dto.content},#{dto.type},#{dto.pid})
        ;
    </insert>

    <delete id="deleteMessage" parameterType="java.lang.Integer">
        DELETE FROM sa01
        WHERE ssa101=#{id}
        ;
    </delete>

    <select id="getCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(aaa101) AS 'num'
        FROM sa01
        WHERE aaa101=#{uid}
        ;
    </select>
    
    <select id="messageByUId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT ssa102 AS 'msg', ssa103 AS 'type', ssa101 AS 'mid', ssa104 AS 'pid'
        FROM sa01
        WHERE aaa101=#{uid}
        ;
    </select>

    <delete id="clearAllByUId" parameterType="java.lang.Integer">
        DELETE FROM sa01
        WHERE aaa101=#{uid}
        ;
    </delete>
</mapper>