<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <link th:href="@{/asserts/css/note/details.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/asserts/css/common/scrollbar.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/asserts/css/common/navbar.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/asserts/css/tools/spop.css}" rel="stylesheet" type="text/css" />

    <script th:inline="javascript">
        var content = [[${content}]];
        var nid = [[${nid}]];
        var path=document.location.host;
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else {
            console.log("您的浏览器支持WebSocket");
            var url = ("http://" + path + "/message").replace("http", "ws");
            socket = new WebSocket(url);
            socket.onopen = function () {
                console.log("Socket 已打开");
            };
            socket.onmessage = function(msg) {
            };
            socket.onclose = function() {
                console.log("Socket已关闭");
            };
            socket.onerror = function() {
                alert("Socket发生了错误");
            }
        }
    </script>

    <script th:src="@{/asserts/js/common/jquery.js}"></script>
    <script th:src="@{/asserts/js/tools/spop.js}"></script>
    <script th:src="@{/asserts/lib/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/asserts/js/xadmin.js}"  type="text/javascript" ></script>
    <script th:src="@{/asserts/js/admin/verify/note.js}"></script>


</head>

<body>


<div class="set_index" id="_j_cover_box" style="height: 519.667px;">
    <div class="set_bg _j_load_cover" style="width:100%;">
        <img th:src="${topImg}" width="100%">
    </div>

    <div class="fully_loading" style="display: none;">
        <p vtip="头图加载中...">头图加载中...</p>
        <img src="http://images.mafengwo.net/images/post/new_notes/fully_loading_v2.gif" alt="loading">
    </div>

    <div class="_j_titlebg">
        <div class="title_bg"></div>
        <div class="view_info" data-length="6">
            <div class="vi_con">
                <h1 data-length="6" th:text="${title}" class="headtext lh80" style="white-space: nowrap; word-wrap: normal;">天津不如武汉
                </h1>
            </div>
        </div>
    </div>
</div>



<div class="view_title clearfix">
    <div class="pagelet-block">
        <div class="vt_center">
            <div class="person" data-cs-t="ginfo_person_operate">
                <a class="per_pic">
                    <img width="120" height="120" th:src="${userPic}" alt="">
                </a>
                <strong>
                    <a class="per_name" th:title="${userName}" th:text="${userName}">Jack.Swift</a>
                </strong>
                <div class="vc_time">
                    <span class="time" th:text="${editTime}">2019-07-09 14:41</span>
                </div>
                <div th:if="${uid eq session.user_id}" class="person-edit">
                    <a th:href="'/note/editNote/' + ${nid}" title="编辑">编辑</a>|
                    <a id="btn-delete" title="删除">删除</a>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- 本体 s -->
<div class="container clearfix">
    <div id="" class="content pagelet-block">
        <p th:if="${status eq '1'}" style="margin-top:0px;font-size: 24px;color:red">
            游记审核中
        </p>
        <div class="block-loading loading_backward"></div>
        <div class="_j_content_box">


            <div class="travel_directory _j_exscheduleinfo">
                <div class="tarvel_dir_list clearfix">
                    <ul>
                        <li class="time">出发时间<span>/</span><hhh th:text="${date}">2019-07-02</hhh><i></i></li>
                        <li class="day">出行天数<span>/</span><hhh th:text="${days}">5 天</hhh></li>
                        <li class="cost">人均费用<span>/</span><hhh th:text="${money}">5000RMB</hhh></li>
                    </ul>
                </div>
            </div>

            <div class="vc_article">
                <div class="va_con _j_master_content" data-cs-t="ginfo_kw_hotel">
                    <div class="block-loading loading_backward"></div>
                    <div class="_j_content_container">


                        <!--文章主题-->



                    </div>

                </div>

                <div th:if="${session.adminusername ne null}" class="item-btn" style="width: 400px">
                    <a class="btn-publish btn-preview" onclick="changeStauts(3)">拒绝</a>
                    <a id="btn-publish" class="btn-publish" onclick="changeStauts(2)">通过</a>
                </div>
            </div>

        </div>
        <div class="block-loading loading_forward"></div>
    </div>




    <!-- 右侧bar s -->

    <div id="sidebar" class="sidebar">
        <div style="height: 395px; display: none;"></div>

        <div th:if="${poiId ne null}" class="slide-right-container">
            <div class="relation_mdd">相关目的地：
                &nbsp;&nbsp;
                <a href="/travel-scenic-spot/mafengwo/14731.html" th:href="@{'/c/'+${poiId}}" target="_blank" th:title="${poiName}"
                   th:text="${poiName}" class="_j_mdd_stas">湖北</a>
            </div>
            <div class="its_others">
                <div class="mdd_info" style="height:auto;">
                    <!--_j_mdd_sta为目的地点击统计，修改注意-->
                    <a href="/travel-scenic-spot/mafengwo/10133.html" th:href="@{'/c/'+${poiId}}" th:title="${poiName}" class="_j_mdd_stas"
                       target="_blank">
                        <img th:src="${poiPic}" width="240px">
                        <i></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- 目录 -->
        <div class="pagelet-block">
            <div class="notes_catalog">
                <div class="side_title" id="_j_catalogtitle">游记目录</div>
                <div id="_j_catalog_list_wrap" style="position: relative; height: 36px;">
                    <ul class="catalog_content" style="position: relative; overflow-y: hidden; max-height: 198px;">

                    </ul>
                    <div class="scrollbar"
                         style="position: absolute; right: 0px; top: 0px; width: 5px; height: 100px; background-color: rgb(214, 214, 214); border-radius: 10px; cursor: pointer; opacity: 0; display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 右侧bar e -->




</div>
<!-- 本体 e -->
</body>

</html>